{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.16">

</head>
<body>
    <header>
        <nav>
          <ul>
            <form method="POST" id="signup-form" class="signup-form">
                {% csrf_token %}
                <li><input type="submit" name="submit" id="submit" class="form-submit" value="Cerrar sesion"/>
            </form>
          </ul>
        </nav>
      </header>
    <div class="main">
        <section class="signup">
            <div class="container-menu">
                <div class="signup-content">
                    <h2 class="form-title">Bienvenido  {{student_name}}</h2>
                    <a href=" " class="square1">
                        <div class="square-text">
                            <span>Reclama puntos</span>
                        </div>
                    </a>
                    <a href=" " class="square2">
                        <div class="square-text">
                           
                            <span>Gana puntos</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>